* {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

@font-face {
  font-family: 'CUTE';
  src: url('../assets/fonts/CUTE.woff2');
}

@font-face {
  font-family: 'KaiWen';
  src: url('../assets/fonts/WenKai.ttf');
}
