* {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

@font-face {
  font-family: 'Cute';
  src: url('https://cdn.jsdelivr.net/gh/hacker-c/Picture-Bed@main/fonts/Cute.woff2');
}

@font-face {
  font-family: 'Wenkai';
  src: url('https://cdn.jsdelivr.net/gh/hacker-c/Picture-Bed@main/fonts/Wenkai.ttf')
    format('truetype');
}
